version: "3.0"
services:
 vite_docker:
   image: node:18-alpine
   container_name: vite_docker
   entrypoint: /bin/sh
   ports:
     - 4000:4000
   working_dir: /srv/app
   volumes:
     - type: bind
       source: ./
       target: /srv/app
   tty: true
   command: -c "npm i && npm run dev"